/* NAV */
.nav-item {
    margin-right: 20px;
}

.font {
    color: white !important;
}

.nav-bg {
    background-color: black;
}

/* END Nav */

/* Jumbotron */
.main-jumbotron {
    background-image: url(../assets/main-bg.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
}

.main-text {
    color: white;
    margin-top: 50px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 7);
    font-size: 46px;
}

.main-text-2 {
    color: white;
    margin-top: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 7);
}

.main-btn {
    width: 200px;
    margin-top: 30px;
}

.main-p {
    color: white;
    margin-top: 80px;
}

.main-i {
    color: white;
    margin-top: -50px;
}

/* END Jumbotron */

/* Carousel */

.second-jumbotron {
    background-image: url(../assets/the-games-bg.jpg);
    background-size: cover;
    height: 540px;
    margin-top: -35px;
}

/* END Carousel */


/* Desktop */
@media (min-width: 992px) {
    .font {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 7);
    }

    .nav-bg {
        background-color: transparent;
    }

    .nav-link:hover {
        border-bottom: 3px solid black;
        margin-top: -3px;
    }

    /* Jumbotron */
    .main-jumbotron {
        margin-top: -75px;
        height: 840px;
        background-position-y: -400px;
    }

    .main-text {
        margin-top: 180px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 7);
        font-size: 82px;
    }

    .main-text-2 {
        margin-top: 50px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 7);
        font-size: 36px;
    }

    .main-btn {
        width: 200px;
        margin-top: 60px;
    }

    .main-p {
        color: white;
        margin-top: 200px;
        font-size: 18px;
    }

    /* END Jumbotron */
    /* Carousel */
    .second-jumbotron {
        background-size: cover;
        height: 840px;
        margin-top: -35px;
    }

    .second-h6 {
        color: white;
    }

    .second-h1 {
        color: white;
    }
}