/* NAV */
.nav-item {
    margin-right: 20px;
}

.font {
    color: white !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-bg {
    background-color: black !important;
    opacity: 0.7;
}

/* END Nav */

/* Jumbotron */
.main-jumbotron {
    background-image: url(../assets/main-bg.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
}

.main-text {
    color: white;
    margin-top: 50px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 7);
    font-size: 46px;
}

.main-text-2 {
    color: white;
    margin-top: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 7);
}

.main-btn {
    width: 200px;
    margin-top: 30px;
}

.main-p {
    color: white;
    margin-top: 80px;
}

.main-i {
    color: white;
    margin-top: -50px;
}

/* END Jumbotron */

/* Carousel */

.second-jumbotron {
    background-image: url(../assets/the-games-bg.jpg);
    background-size: cover;
    height: 540px;
    margin-top: -35px;
}

/* END Carousel */

/* Stepper */
.third-jumbotron {
    background-image: url(../assets/features.jpg);
    background-size: cover;
    height: 540px;
    margin-top: -35px;
}

/* END Stepper */

/* System Req Mobile */
.fourth-jumbotron {
    background-image: url(../assets/requirements.png);
    background-size: cover;
    height: 540px;
    margin-top: -35px;
}

/* End System Req Mobile */

/* Top Scorer */
.fifth-jumbotron {
    background-image: url(../assets/top-score-bg.png);
    background-size: cover;
    background-color: grey;
    height: 540px;
    margin-top: -35px;
}

/* Footer */
.sixth-jumbotron {
    background-image: url(../assets/newsletter-bg.jpg);
    background-size: cover;
    height: 540px;
    margin-top: -35px;
}

/* Desktop */
@media (min-width: 992px) {

    .font {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 7);
    }

    .nav-bg {
        background-color: transparent;
    }

    .nav-link:hover {
        border-bottom: 3px solid black;
        margin-top: -3px;
    }

    /* Jumbotron */
    .main-jumbotron {
        margin-top: -75px;
        height: 840px;
        background-position-y: -400px;
    }

    .main-text {
        margin-top: 180px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 7);
        font-size: 82px;
    }

    .main-text-2 {
        margin-top: 50px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 7);
        font-size: 36px;
    }

    .main-btn {
        width: 200px;
        margin-top: 60px;
    }

    .main-p {
        color: white;
        margin-top: 200px;
        font-size: 18px;
    }

    /* END Jumbotron */
    /* Carousel */
    .second-jumbotron {
        background-size: cover;
        height: 840px;
        margin-top: -35px;
    }

    .second-h6 {
        color: white;
        font-size: 28px;
    }

    .second-h1 {
        color: white;
        font-size: 62px;
    }

    .car-mar {
        margin-top: 170px;
    }

    .car-img {
        width: 700px !important;
    }

    /* Stepper */

    .third-jumbotron {
        background-size: cover;
        height: 840px;
        margin-top: -35px;
    }

    .step-item-head {
        color: rgb(211, 140, 8) !important;
        font-size: 32pt;
    }

    .step-item-text {
        margin-right: 32px;
        font-size: 16pt;
    }

    .step-main {
        margin-top: 50px;
    }

    .step-main li {
        margin-top: 30px;
    }

    .third-col {
        margin: auto !important;
    }

    .step-context::before {
        content: " ";
        border-left: 5px solid white;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .step-context::after {
        content: " ";
        border-left: 5px solid white;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .step-span-text {
        font-size: 24pt;
    }

    .step-row {
        margin-top: 100px;
    }

    /* System Req */
    .fourth-jumbotron {
        background-size: cover;
        height: 840px;
        margin-top: -35px;
    }

    .fourth-rw {
        margin-top: -45px !important;
    }

    .fourth-h1 {
        color: white !important;
    }

    .fourth-table {
        margin-top: 50px;
        border-color: transparent !important;
    }

    .fourth-pp {
        margin-top: 120px;
    }

    .fourth-table tr p {
        color: white !important;
    }

    .fourth-h5 {
        color: rgb(211, 140, 8) !important;
    }

    /* Top Scorer */
    .fifth-jumbotron {
        background-image: url(../assets/top-score-bg.png);
        background-size: cover;
        background-color: grey;
        height: 840px;
        margin-top: -35px;
    }

    .text-scores-title {
        font-size: 32pt;
    }

    .text-scores-desc {
        font-size: 24pt;
    }

    .btn-score {}

    .card-custom {
        background-color: #1e2200;
        border-radius: 145px;
    }

    .card-img {
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 80px 80px !important;
        width: auto;
    }

    .card-icon {
        margin-top: 20px;
    }

    .ico-twitter {
        margin-left: 60px;
    }

    .card-name {
        color: orange !important;
        font-weight: bold !important;
        font-size: 24pt !important;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .card-title::after {
        font-size: 12pt;
        font-weight: 300;
        word-spacing: 1.15pt;
        margin-top: 0px;
    }

    .card-caption {
        font-size: 12pt;
        font-weight: 400;
        margin-left: 50px;
        margin-bottom: 0px;
    }

    .card-datetime {
        margin-left: 50px
    }

    .card-box {
        width: 500px;
        height: auto;
        background-color: #2D2926;
        border-radius: 8px 8px;
    }

    /* Footer */
    .sixth-jumbotron {
        background-size: cover;
        height: 240px;
        margin-top: -35px;
    }

    .sixth-p {
        color: white !important;
        font-size: 16pt;
    }

}